name: Deploy Docs to GitHub Pages

on:
  push:
    # Every push on dev will run this action
    branches: [dev]

jobs:
  build:
    runs-on: ubuntu-latest
    concurrency: ci-${{github.ref}}
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Install dependencies and generate docs
        run: |
          npm ci
          npx ts-node ./docs-generator/main.ts

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: docs
          branch: gh-pages
